@import url("./variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-body);
  background-color: var(--light-bg);
  color: var(--light-text);
  transition: var(--transition);
}

body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

h1, h2, h3, h4 {
  font-family: var(--font-title);
  color: var(--light-text);
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4 {
  color: var(--dark-text);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
